<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <title>{{SWIKI}} / tinybrain.fans - milo fultz</title>
    <link rel="stylesheet" href="style.css">
    <link rel="alternate" type="application/rss+xml" title="{{SWIKI}} / tinybrain.fans" href="rss.xml">
  </head>
  <body>
    <header>
      <strong>Milo Land</strong>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="now.html">Now</a></li>
          <li><a href="journal.html">Journal</a></li>
          <li><a href="links.html">Links</a></li>
          <li><a href="rss.xml">RSS</a></li>
        </ul>
      </nav>
    </header>
    <main>
    <h1>{{SWIKI}} / tinybrain.fans</h1><p><a href="https://www.tinybrain.fans/">Check out tinybrain.fans here!</a></p><p><a href="https://codeberg.org/milofultz/swiki">Check out {{SWIKI}} on Codeberg</a></p><p>{{SWIKI}} is a flatfile wiki generator using Python. Using some basic configuration and template files, you can build a wiki out of Markdown files and some {{double brackets}}.</p><ul><li>Any page that is linked out locally will have the current page backlinked on that page, allowing for easy trawling through related information and finding new stuff.</li><li>The structure of the web pages is defined by a static "frame" HTML file where the content is injected.</li><li>Produces a "fatfile" page that contains all of the content of every page, which makes for easy searching of the entire wiki with just `ctrl` + `f`.</li></ul><p>Check it out on Codeberg to learn more about how it works, and go to https://www.tinybrain.fans to play around in a working demo.</p>
    </main>
    <footer>
      <nav>
        <ul>
          <li><a href="http://www.tinybrain.fans">Wiki</a></li>
          <li><a href="http://www.codeberg.org/milofultz">Codeberg</a></li>
          <li><a rel="me" href="https://merveilles.town/@milofultz">Merveilles</a></li>
          <li><a rel="me" href="https://oulipo.social/@irondung">Oulipo</a></li>
          <li>
            <a href="https://fediring.net/previous?host=milofultz.com">←</a>
            <a href="https://fediring.net/">Fediring</a>
            <a href="https://fediring.net/random" style="text-decoration: green wavy underline;">!</a>
            <a href="https://fediring.net/next?host=milofultz.com">→</a>
          </li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
