<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <title>Make A Simple Wiki with Markdown - milo fultz</title>
    <link rel="stylesheet" href="style.css">
    <link rel="alternate" type="application/rss+xml" title="Make A Simple Wiki with Markdown" href="rss.xml">
  </head>
  <body>
    <header>
      <strong>Milo Land</strong>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="now.html">Now</a></li>
          <li><a href="journal.html">Journal</a></li>
          <li><a href="links.html">Links</a></li>
          <li><a href="rss.xml">RSS</a></li>
        </ul>
      </nav>
    </header>
    <main>
    <h1>Make A Simple Wiki with Markdown</h1><p>For the last year or so, I've been keeping notes about programming and what I've been learning about it, which has been super helpful for me. But I've also found myself sending out some of these files to people for reference, which is fine but not ideal. I always thought that what would be WAY nicer is to have a wiki online that I could send people to so that they would have a reference now *and* for the future, plus then they could reference it for whatever else, as well. My note-taking is essentially my learning process, so why not share it?</p><p>I recently did this for those notes at https://www.tinybrain.fans, and will continue using it for any wiki/Zettelkasten material I generate.</p><h2>Set Up</h2><p>This setup requires {{SWIKI}}, a Github repository where you will put your built static site, and optionally, a domain to host it on.</p><p><a href="https://codeberg.org/milofultz/swiki">{{SWIKI}}</a></p><p><a href="https://github.com/">Github</a></p><h3>{{SWIKI}}</h3><p>You will need to use Markdown files with the Jekyll-style front matter for your pages, and to create the necessary files that SWIKI needs to build it (learn more about the features and specifics of {{SWIKI}} on the repo page). After getting those created and placed, you should be able to build your site and output a set of static HTML files.</p><p><a href="https://jekyllrb.com/docs/front-matter/">Jekyll-style front matter</a></p><br/><p>Create a new folder where you will keep this built out site. You will want to initiate a new Git repository there and after you build your site in that folder, commit your changes.</p><p><a href="https://kbroman.org/github_tutorial/pages/init.html">initiate a new Git repository</a></p><p>**NOTE:** Github Pages also requires an empty `.nojekyll` file be in the root directory if you are creating a static site with no build step like Jekyll. If you don't have this in there, it may build but will eventually fail.</p><p><a href="https://github.community/t/github-pages-build-failed-although-it-passed-a-few-months-ago/10271">Why you need to use a `.nojekyll` file to build correctly</a></p><h3>Github Pages</h3><p>Create a new Github repo which will house your built site and connect it to the Git repo you built in the last step. If you aren't using a custom domain, be sure to name this using yourusername.github.io or you may not be able to host it correctly on the Github Pages URL.</p><p><a href="https://guides.github.com/features/pages/">Why to name it "yourusername.github.io"</a></p><p>Go ahead and push up those newly built files to the remote repo. If you don't do this first, it won't let you set up your Github Pages.</p><p>After completing this, go into this repo's settings and open the "Pages" or "Github Pages" tab. Set the source to be the root folder, and you should be able to go to the URL listed to see your new site.</p><h3>Custom Domain</h3><p>If you end up wanting to use a custom domain for hosting, you will need to put the custom domain's URL into the Github Pages settings first. After completing this, go into the DNS settings of your custom domain and change your "Custom resource records". You will need to add an "A" type to point the domain at the Github Pages, using these four IP addresses:</p><ul><li>185.199.108.153</li><li>185.199.109.153</li><li>185.199.110.153</li><li>185.199.111.153</li></ul><p>WAIT!! You may not see any updates to your website for the next 48-hours, so give it time. Go for a walk, eat dinner, I dunno.</p><h2>You're done!</h2><p>After this, your page should be visible at your chosen domain. To make updates to your wiki, just update your Markdown files, rebuild your site, commit the changes in Git, and push it up. These changes should be visible within about a minute of pushing up.</p><ul><li>20211019: Add note for required `.nojekyll` file to build correctly.</li></ul>
    </main>
    <footer>
      <nav>
        <ul>
          <li><a href="http://www.tinybrain.fans">Wiki</a></li>
          <li><a href="http://www.codeberg.org/milofultz">Codeberg</a></li>
          <li><a rel="me" href="https://merveilles.town/@milofultz">Merveilles</a></li>
          <li><a rel="me" href="https://oulipo.social/@irondung">Oulipo</a></li>
          <li>
            <a href="https://fediring.net/previous?host=milofultz.com">←</a>
            <a href="https://fediring.net/">Fediring</a>
            <a href="https://fediring.net/random" style="text-decoration: green wavy underline;">!</a>
            <a href="https://fediring.net/next?host=milofultz.com">→</a>
          </li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
