<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <title>Welcome - milo fultz</title>
    <link rel="stylesheet" href="style.css">
    <link rel="alternate" type="application/rss+xml" title="Welcome" href="rss.xml">
  </head>
  <body>
    <header>
      <strong>Milo Land</strong>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="now.html">Now</a></li>
          <li><a href="journal.html">Journal</a></li>
          <li><a href="links.html">Links</a></li>
          <li><a href="rss.xml">RSS</a></li>
        </ul>
      </nav>
    </header>
    <main>
    <h1>Welcome</h1><p>This website is both a repo for random knowledge I find, projects, and thoughts.</p><h2>My Posts</h2><p><a href="2023-08-09-gig-scripts.html">2023-08-09 - Shell scripts for gig prep</a></p><p><a href="2022-12-21-html-email.html">2022-12-21 - *sigh* Lastpass</a></p><p><a href="2022-12-14-december-adventure.html">2022-12-14 - December Adventure</a></p><p><a href="2022-12-07-clipboard-data.html">2022-12-07 - The Secret Lives Of Clipboards In The Browser</a></p><p><a href="2022-11-07-old-photoshop.html">2022-11-07 - I got Photoshop 2.5 working on Windows 3.1</a></p><p><a href="2022-09-17-hypotheticals.html">2022-09-17 - Hypotheticals Are Excellent Tools for Introspection and Understanding</a></p><p><a href="2022-08-29-a-goofy-movie.html">2022-08-29 - An Ad-Hoc Theory Of Life And Reproduction In The Goofy Universe</a></p><p><a href="2022-07-21-crypto.html">2022-07-21 - Do They Deserve It?</a></p><p><a href="2022-06-21-no-style.html">2022-06-21 - Use uBlock To Set "No Style" as Default</a></p><p><a href="2022-06-19-gemkill.html">2022-06-19 - gemkill - Generate no-nonsense text-based sites</a></p><p><a href="2022-06-03-minimalist.html">2022-06-03 - Minimalism</a></p><p><a href="2022-05-21-byonic-reading.html">2022-05-21 - Byonic Reading - 80/20 Version on Bionic Reading</a></p><p><a href="2022-05-02-ascii-name.html">2022-05-02 - My Name In ASCII</a></p><p><a href="2022-04-17-my-task-management.html">2022-04-17 - My Task Management System</a></p><p><a href="2022-04-09-bonzo-buddy.html">2022-04-09 - Bonzo Buddy - Delegate your self-care</a></p><p><a href="2022-03-12-brainfuck.html">2022-03-12 - Making A Brainfuck Interpreter</a></p><p><a href="2022-02-04-deciphering-minimal-roguelike.html">2022-02-04 - Deciphering This Minimal Roguelike in C</a></p><p><a href="2022-02-01-sub2pub.html">2022-02-01 - Sub2Pub - Convert Youtube Subtitles to EPUBs</a></p><p><a href="2022-01-28-tod-shell.html">2022-01-28 - Tod - Plan and Manage Daily Tasks In The CLI (Shell)</a></p><p><a href="2022-01-01-proquabet.html">2022-01-01 - Proquabet - Encode text in a five-letter mishmash</a></p><p><a href="2021-12-12-open-source.html">2021-12-12 - Why Would Someone Pay For Something That's Free?</a></p><p><a href="2021-11-14-sorting-in-6502.html">2021-11-14 - Sorting Algorithms in 6502 Assembly</a></p><p><a href="2021-10-22-rubiks-cube-solution.html">2021-10-22 - Discover Your Own Rubik's Cube Algorithms</a></p><p><a href="2021-09-18-minicube64.html">2021-09-18 - Moving Rainbow in 6502 Assembly</a></p><p><a href="2021-07-04-make-a-simple-wiki.html">2021-07-04 - Make A Simple Wiki with Markdown</a></p><p><a href="2021-07-03-swiki-tinybrainfans.html">2021-07-03 - {{SWIKI}} / tinybrain.fans</a></p><p><a href="2021-04-11-tiny-font-3-by-3.html">2021-04-11 - Make A Tiny 3x3 Font</a></p><p><a href="2021-03-06-sublime-keymap.html">2021-03-06 - Find and Remove Autocompletes in Sublime Text 3</a></p><p><a href="2021-01-28-snake-js.html">2021-01-28 - SNAKEHACK - snake with constantly changing controls</a></p><p><a href="2021-01-08-my-apps.html">2021-01-08 - Apps, Software, and More That I Use Everyday</a></p><p><a href="2021-01-06-reverse-horoscope.html">2021-01-06 - Reverse Horoscope - Find Out Your Real Birthday</a></p><p><a href="2020-12-27-atlb-notes.html">2020-12-27 - Algorithms To Live By - Book Notes</a></p><p><a href="2020-12-13-aoc-day-13.html">2020-12-13 - Solution to Advent of Code 13 - LCM with Offsets</a></p><p><a href="2020-12-01-advent-of-code.html">2020-12-01 - Advent Of Code 2020 - Solutions</a></p><p><a href="2020-11-10-bytebeat.html">2020-11-10 - Bytebeat - Overview and How To Make/Record on OSX</a></p><p><a href="2020-11-09-the-point-of-diminis.html">2020-11-09 - The point of diminishing returns is already here</a></p><p><a href="2020-11-01-koi-koi-rules.html">2020-11-01 - Rules for Hanafuda game "Koi-Koi"</a></p><p><a href="2020-10-31-tablatal-parser.html">2020-10-31 - Tablatal Parser - Plaintext Database to JSON (Python)</a></p><p><a href="2020-10-25-hiitimer.html">2020-10-25 - HIITimer - Exercise Timer w/Routines and TTS (Python)</a></p><p><a href="2020-10-17-tod-python.html">2020-10-17 - Tod - Plan and Manage Daily Tasks In The CLI (Python)</a></p><p><a href="2020-10-16-friends-dont.html">2020-10-16 - Friends don't let friends look at pageviews</a></p><p><a href="2020-10-12-track-python.html">2020-10-12 - Track - Daily Journal and Log (Python)</a></p><p><a href="2020-10-12-sleep-realms.html">2020-10-12 - Sleep Realms (Paulstretch)</a></p><p><a href="2020-10-04-doing.html">2020-10-04 - Trying to become reacquainted with being bored</a></p><p><a href="2020-10-04-two-minute-rule.html">2020-10-04 - The Two-Minute Rule</a></p><p><a href="2020-09-30-evernote-images.html">2020-09-30 - Maximize Evernote Storage Using Web Clipper (JS)</a></p><p><a href="2020-09-26-zentube.html">2020-09-26 - Zentube - Youtube Lite w/Note Taking (HTML/CSS/JS)</a></p><p><a href="2020-09-23-mastodon.html">2020-09-23 - Mastodon</a></p><p><a href="2020-09-01-domine.html">2020-09-01 - Domine (game from Hundred Rabbits)</a></p><p><a href="2020-08-26-random-note.html">2020-08-26 - Open A Random Note/Lo-Fi Idea Generator (Python)</a></p><p><a href="2020-08-22-purple-rain-outro.html">2020-08-22 - Purple Rain Outro Transcription</a></p><p><a href="2020-08-19-soulja-realms.html">2020-08-19 - Soulja Realms</a></p><p><a href="2020-08-04-piu-piu-ringtone.html">2020-08-04 - Piu Piu ringtone but it's only Avgustina's laugh</a></p><p><a href="2020-07-23-awfulizer.html">2020-07-23 - Awfulizer - Make Surfing The Web Awful (Firefox)</a></p><p><a href="2020-07-22-make-python-apps.html">2020-07-22 - Make Python 'Apps' and Shortcuts To Run Them on OSX</a></p><p><a href="2020-07-18-programming-outline.html">2020-07-18 - Create a better program faster with an outline V2</a></p><p><a href="2020-07-08-star_maker.html">2020-07-08 - star_maker - a lo-fi ambient visual (Python)</a></p><p><a href="2020-07-07-spacelove.html">2020-07-07 - spacelove.xm - Made using an old E-MAX sample</a></p><p><a href="2020-07-03-wordsmash.html">2020-07-03 - Wordsmash Explosion - Mastermind With Words (Python)</a></p><p><a href="2020-07-02-bmcrawl.html">2020-07-02 - Bookmark Crawler - Make Internet More Fun (Python)</a></p><p><a href="2020-06-26-nobody-takes-advice.html">2020-06-26 - Nobody Takes Advice</a></p><p><a href="2020-06-25-inexpensive-games.html">2020-06-25 - Inexpensive and Minimal Equipment Games To Play</a></p><p><a href="2020-06-21-quantity-quality.html">2020-06-21 - Quality and quantity's relevance to critical feeling</a></p><p><a href="2020-06-10-critical-feeling.html">2020-06-10 - Critical feeling is as important as critical thinking</a></p><p><a href="2020-05-25-exercise-routine.html">2020-05-25 - Simple + Minimal Exercise Routine</a></p><p><a href="2020-05-23-day-planner.html">2020-05-23 - Day planner based on location</a></p><p><a href="2020-05-22-zettelkasten.html">2020-05-22 - I just found out about Zettelkasten</a></p><p><a href="2020-05-22-just-in-case.html">2020-05-22 - Buying Things "Just In Case" vs. Real Estate</a></p><p><a href="2020-05-22-keyboard-remapping.html">2020-05-22 - Keyboard Remapping on OSX - Adding the Insert Key</a></p><p><a href="2020-05-17-adam-savage.html">2020-05-17 - The Adam Savage Trial Method</a></p><p><a href="2020-05-01-old-internet.html">2020-05-01 - I miss the old internet.</a></p>
    </main>
    <footer>
      <nav>
        <ul>
          <li><a href="http://www.tinybrain.fans">Wiki</a></li>
          <li><a href="http://www.codeberg.org/milofultz">Codeberg</a></li>
          <li><a rel="me" href="https://merveilles.town/@milofultz">Merveilles</a></li>
          <li><a rel="me" href="https://oulipo.social/@irondung">Oulipo</a></li>
          <li>
            <a href="https://fediring.net/previous?host=milofultz.com">←</a>
            <a href="https://fediring.net/">Fediring</a>
            <a href="https://fediring.net/random" style="text-decoration: green wavy underline;">!</a>
            <a href="https://fediring.net/next?host=milofultz.com">→</a>
          </li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
