<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <title>{{ title }} - milo fultz</title>
    <link rel="stylesheet" href="style.css">
    <link rel="alternate" type="application/rss+xml" title="{{ title }}" href="rss.xml">
  </head>
  <body>
    <header>
      <strong>Milo Land</strong>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="now.html">Now</a></li>
          <li><a href="journal.html">Journal</a></li>
          <li><a href="links.html">Links</a></li>
          <li><a href="rss.xml">RSS</a></li>
        </ul>
      </nav>
    </header>
    <main>
    {{ content }}
    </main>
    <footer>
      <nav>
        <ul>
          <li><a href="http://www.tinybrain.fans">Wiki</a></li>
          <li><a href="http://www.codeberg.org/milofultz">Codeberg</a></li>
          <li><a rel="me" href="https://merveilles.town/@milofultz">Merveilles</a></li>
          <li><a rel="me" href="https://oulipo.social/@irondung">Oulipo</a></li>
          <li>
            <a href="https://fediring.net/previous?host=milofultz.com">←</a>
            <a href="https://fediring.net/">Fediring</a>
            <a href="https://fediring.net/random" style="text-decoration: green wavy underline;">!</a>
            <a href="https://fediring.net/next?host=milofultz.com">→</a>
          </li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
