@font-face {
  font-family: "Manrope";
  font-weight: normal;
  src: local("Manrope"), local("Manrope Regular"), url("Manrope-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Manrope";
  font-weight: bold;
  src: local("Manrope Bold"), url("Manrope-Bold.woff2") format("woff2");
}

* {
  --b: #333535;
  --bg: #222424;
  --fg: #e0e6e0;
}

html {
  background: var(--bg);
  padding: 2rem;
}
body {
  color: var(--fg);
  font-family: "Manrope", sans-serif;
  line-height: 1.75rem;
  margin: auto;
  max-width: 50rem;
}
header, footer {
  padding: .5rem;
  text-align: center;
}
header ul, header li, footer ul, footer li {
  list-style: none;
  margin: 0;
  padding: .5rem;
}
header ul { padding-top: 0; }
header li, footer li { display: inline-block; }
main {
  background-color: var(--b);
  border: 10px inset #888;
  padding: 2rem;
}

h1 {
  line-height: normal;
  margin: 2rem 0;
  text-align: center;
}
h2, h3 {
  font-style: italic;
  line-height: normal;
  margin: 2rem 0;
}
h1:first-child { margin-top: 0; }
a:link { color: #47e; }
a:visited { color: #a7a; }
blockquote { font-style: italic; }
blockquote p {
  background: var(--fg);
  color: var(--b);
  padding: 1rem;
}

/* Ensure long code lines are readable */
pre {
  background: #222323;
  color: var(--b);
  padding: 1rem;
  white-space: pre-wrap;
}

audio, video { width: 100%; }
figure { text-align: center; }
img { max-width: 100%;}

@media screen and (max-width: 480px) {
  html, main { padding: 1rem; }
  main { border-width: 5px; }
}
